<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li><%= link_to 'Sellers (' + @seller_type.name + ')', auction_sellers_path(@auction, type: @seller_type.id) %></li>
  <li class="active">Edit Seller</li>
</ol>
<div class="page-header">
	<h1>Edit Seller</h1>
</div>
<% if @seller.errors.any? %>
<div class="alert alert-danger" role="alert">
	<ul>
		<% @seller.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for :seller, 
             url: auction_seller_path(@auction, @seller, type: @seller_type.id) do |f| %>
<div class="form-group">
	<%= f.label :order, "Seller order" %>
	<%= f.text_field :order , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :number, "Seller number" %>
	<%= f.text_field :number , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :name, "Seller name" %>
	<%= f.text_field :name , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :packerpays, "Packer Bid" %>
	<%= f.text_field :packerpays , class: 'form-control' %>
</div>
<button type="submit" class="btn btn-default">Submit</button>
<%= link_to 'Cancel', auction_sellers_path(@auction, type: @seller_type.id), class: 'btn btn-default' %>
<% end %>