<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li><%= link_to 'Sellers (' + @seller_type.name + ')', 
  								auction_seller_type_sellers_path(@auction, @seller_type) %></li>
  <li class="active">Edit Seller</li>
</ol>
<div class="page-header">
	<h1>Edit Seller</h1>
</div>
<% if @seller.errors.any? %>
<div class="alert alert-danger" role="alert">
	<ul>
		<% @seller.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for @seller, 
             url: auction_seller_type_seller_path(@auction, 
             	@seller_type, @seller), method: :patch do |f| %>
<div class="form-group">
	<button type="submit" class="btn btn-default" value="list" name="commit">Submit</button>
	<%= link_to 'Cancel', auction_seller_type_sellers_path(@auction, @seller_type), 
				class: 'btn btn-default' %> 
</div>

<div class="form-group">
	<%= f.label :order, "Seller order" %>
	<%= f.text_field :order , class: 'form-control', type: 'number', step: 'any' %>
</div>
<div class="form-group">
	<%= f.label :number, "Seller number" %>
	<%= f.text_field :number , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :name, "Seller name" %>
	<%= f.text_field :name , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :weight, "Weight" %>
	<%= f.text_field :weight , class: 'form-control', type: 'number', step: 'any' %>
</div>
<div class="form-group">
	<%= f.label :packerbid, "Packer Bid" %>
	<%= f.text_field :packerbid , class: 'form-control', type: 'number', step: 'any' %>
</div>

<% end %>

<%= link_to "Delete Seller", 
	auction_seller_type_seller_path(@auction, @seller_type, @seller),
	method: :delete  %>