<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li><%= link_to 'Sellers (' + @seller_type.name + ')', 
                                auction_seller_type_sellers_path(@auction, @seller_type) %></li>
  <li class="active">Import Sellers</li>
</ol>
<div class="page-header">
	<h1>Import Sellers</h1>
</div>
  <p>Import sellers by uploading a seller CSV file.  The CSV file must be in the following
     format. The order of the import file will be preserved.</p>
  <pre>
order,number,weight,name,packerbid
1,1,23.9,Benjamin Leary,0
2,2,21.1,Josiah Fryman,0
3,3,21.4,Holly Becker,0
4,4,23.2,Wyatt Adelsperger,0
  </pre>
<%= form_tag({action: :import}, multipart: true) do %>
	<div class="form-group">
		<%= label_tag 'file', 'Select a buyer CSV file' %>
  	<%= file_field_tag 'file' %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <%= link_to 'Cancel', auction_seller_type_sellers_path(@auction, @seller_type), class: 'btn btn-default' %>
<% end %>