<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li class="active">Sellers (<%= @seller_type.name %>)</li>
</ol>
<div class="page-header">
	<h1>Sellers (<%= @seller_type.name %>)</h1>
</div>
<p class="button-group">
	<%= link_to 'Add a seller', 
	       new_auction_seller_type_seller_path(@auction, @seller_type),
	       class: 'btn btn-default' %> <%= link_to 'Import Sellers', import_auction_seller_type_sellers_path(@auction, @seller_type), class: 'btn btn-default' %> <%=link_to 'Export Sellers', auction_seller_type_sellers_path(@auction, @seller_type, format: 'csv'), class: 'btn btn-default' %></p>
<div>
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Order</th>
					<th>Number</th>
					<th>Name</th>
					<th>Weight</th>
					<th>Packer Bid</th>
				</tr>
			</thead>
			<tbody>
				<% @sellers.each do |seller| %>
				<tr>
					<td><%= seller.order %></td>
					<td><%= seller.number %></td>
					<td><%= link_to seller.name, edit_auction_seller_type_seller_path(@auction,@seller_type, seller) %></td>
					<td><%= seller.weight %></td>
					<td><%= number_to_currency(seller.packerbid) %></td>
				</tr>
				<% end %>
			</tbody>			
	</table>
</div>