<div class="page-header">
	<h1>New Seller</h1>
</div>
<% if @seller.errors.any? %>
<div class="alert alert-danger" role="alert">
	<ul>
		<% @seller.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for :seller, url: auction_seller_type_sellers_path(@auction, @seller_type) do |f| %>
<div class="form-group">
	<%= f.label :order, "Seller order" %>
	<%= f.text_field :order , class: 'form-control',
	                          value: @next_seller_order_number, type: 'number', step: 'any' %>
</div>
<div class="form-group">
	<%= f.label :number, "Seller number" %>
	<%= f.text_field :number , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :name, "Seller name" %>
	<%= f.text_field :name , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :weight, "Weight" %>
	<%= f.text_field :weight , class: 'form-control', type: 'number', step: 'any' %>
</div>
<div class="form-group">
	<%= f.label :packerbid, "Packer Bid" %>
	<%= f.text_field :packerbid , class: 'form-control', type: 'number', step: 'any' %>
</div>
<button type="submit" class="btn btn-default">Submit</button>
<%= link_to 'Cancel', auction_seller_type_sellers_path(@auction, @seller_type), class: 'btn btn-default' %>
<% end %>
