<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li><%= link_to 'Sellers (' + @seller_type.name + ')',
                                auction_seller_type_sellers_path(@auction, @seller_type) %></li>
  <li>Bid for Seller (<%= @seller.number %> - <%= @seller.name %>)

  <li class="active">Edit Bid</li>
</ol>
<div class="page-header">
	<h1>Edit Bid for (<%= @seller.number %> - <%= @seller.name %>)</h1>
</div>
<% if @bid.errors.any? %>
<div class="alert alert-danger" role="alert">
	<ul>
		<% @bid.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for @bid, url: auction_seller_type_bid_path(@auction, @seller_type, @bid), method: :patch do |f| %>
<%= f.hidden_field :seller_id %>
<div class="form-group">
	<%= f.label :buyerbid, "Bid Amount" %>
	<%= f.text_field :buyerbid , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :buyers, "Buyer(s)" %>
  <%= f.collection_select(:buyer_ids, @buyers, :id, :number_and_name, {:include_hidden => false}, {:multiple => true}) %>
</div>
<div class="form-group">
	<%= f.label :option, "Buyer option" %>
	<%= f.text_field :option , class: 'form-control' %>
</div>
<div class="row">
<div class="col-sm-11">
  <button type="submit" class="btn btn-default" value="next" name="commit">Save and Next</button>
  <button type="submit" class="btn btn-default" value="list" name="commit">Save and List</button>

  <%= link_to 'Cancel and List', auction_seller_type_bids_path(@auction, @seller_type), class: 'btn btn-default' %>
</div>
<div class="col-sm-1">
		<%= link_to 'Delete', auction_seller_type_bid_path(@auction, @seller_type, @bid),
			method: :delete,
		 	data: { confirm: 'Are you sure?'} %>
</div>
<% end %>
