<%= form_for @auction do |f| %>
<div class="form-group">
	<%= f.label :name, "Auction Name (max 50 characters)" %>
	<%= f.text_field :name , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :checks_payable, "Checks Payable To (max 150 characters)" %>
	<%= f.text_field :checks_payable, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :invoice_title, "Invoice Title (max 50 characters)" %>
	<%= f.text_field :invoice_title, class: 'form-control' %>
</div>
<button type="submit" class="btn btn-default">Submit</button>
<%= link_to 'Cancel', auctions_path, class: 'btn btn-default' %>
<% end %>