<h1>Auctions</h1>
<p><%= link_to 'Create a new Auction', :new_auction %></p>
<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th># Reg. Buyers</th>
				<th>Buyers Pay</th>
				<th>Packer Pays</th>
				<th>Total Sales</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @auctions.each do |a| %>
			<tr>
				<td><%= a.id %></td>
				<td><a href="#"><%= a.name %></a></td>
				<td><%= a.total_registered_buyers %></td>
				<td><%= number_to_currency(a.total_buyer_pays) %></td>
				<td><%= number_to_currency(a.total_packer_pays) %></td>
				<td><%= number_to_currency(a.total_sales) %></td>
				<td><span class="glyphicon glyphicon-pencil"></span><a href="#">Edit</a> <span class="glyphicon glyphicon-trash"></span><a href="#">Delete</a></td>
			<% end %>
		</tbody>
</table>