<div>
	<p><%= link_to "Back to auctions", :auctions %></p>
</div>
<div class="page-header">
	<h1><%= @auction.name %></h1>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Buyers</h2>
			</div>
			<div class="panel-body">
				<%= link_to "Edit Buyers List", auction_buyers_path(@auction), class: "btn btn-default" %>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Seller Types</h2>
			</div>
			<div class="panel-body">
				<%= link_to "Edit Seller Types", auction_seller_types_path(@auction), class: "btn btn-default" %>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Sellers</h2>
			</div>
			<div class="panel-body">
				<% @auction.seller_types.each do |seller_type| %>
					<%= link_to seller_type.name, auction_seller_type_sellers_path(@auction, seller_type), class: "btn btn-default" %>
				<% end %>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Bids</h2>
			</div>
			<div class="panel-body">
				<% @auction.seller_types.each do |seller_type| %>
					<%= link_to seller_type.name, auction_seller_type_bids_path(@auction, seller_type), class: "btn btn-default" %>
				<% end %>
			</div>
		</div>	
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Auction Information</h2>
			</div>
			<div class="panel-body">
				<h3>Name</h3>
				<p><%= @auction.name %></p>
				<h3>Invoice Checks Payable</h3>
				<p><%= @auction.checks_payable %></p>
				<h3>Invoice Title</h3>
				<p><%= @auction.invoice_title %></p>
				<h3>Invoice Address</h3>
				<p><%= @auction.address1 %></p>
				<p><%= @auction.address2 %></p>
				<p><%= @auction.address3 %></p>
			</div>
			<div class="panel-footer">
				<%= link_to "Edit", edit_auction_path(@auction), class: "btn btn-default" %>
			</div>
		</div>
</div>
