<div class="page-header">
	<h1><%= @auction.name %></h1>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="action-bar" role="group" aria-label="Action Buttons">
			<%= link_to 'Edit', edit_auction_path(@auction) , class: 'btn btn-default' %>
			<%= link_to 'Delete', :delete_auction, class: 'btn btn-danger' %>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Manage</div>
	<div class="panel-body">
		<p><%= link_to 'Buyers', auction_buyers_path(@auction) %><p>
		<p><%= link_to 'Manage Seller Types', auction_seller_types_path(@auction) %>	</p>
	</div>
</div>

