<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li class="active"><%= @auction.name %></li>
</ol>
<div class="page-header">
	<h1><%= @auction.name %></h1>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Buyers</div>
	<div class="panel-body">
		<%= link_to 'Manage Buyers', auction_buyers_path(@auction) %>
	</div>
</div>
<div>
<div class="panel panel-default">
	<div class="panel-heading">Sellers</div>
	<div class="panel-body">
		<p><%= link_to 'Manage Seller Types', auction_seller_types_path(@auction) %>	</p>
		<ul>
			<% @seller_types.each do |seller_type| %>
			<li><%= link_to seller_type.name, 
			                auction_seller_type_sellers_path(@auction, seller_type) %> 
			</li>
			<% end %>
		</ul>
		<p>Manage Bids</p>
		<ul>
			<% @seller_types.each do |seller_type| %>
			<li><%= link_to seller_type.name, 
							"#" %>
			</li>
			<% end %>
		</ul>
	</div>
</div>