<div class="page-header">
	<h1>Buyers</h1>
</div>
<p class="button-group"><%= link_to 'Add a buyer', :new_buyer, class: 'btn btn-default' %> <%= link_to 'Import Buyers', :import_buyers, class: 'btn btn-default' %> <%=link_to 'Export Buyers', buyers_path(format: 'csv'), class: 'btn btn-default' %></p>
<div>
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Auction</th>
					<th>Number</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
			<% @buyers.each do |buyer| %>
				<tr>
					<td><%= buyer.auction.name %></td>
					<td><%= buyer.number %></td>
          			<td><%= link_to buyer.name, edit_buyer_path(buyer.id) %></td>
				</tr>
			<% end %>
			</tbody>
	</table>
</div>
