<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li class="active">Buyers</li>
</ol>
<div class="page-header">
	<h1>Buyers</h1>
</div>

<div class="panel panel-default">
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Number</th>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @buyers.each do |buyer| %>
				<tr>
					<td><%= buyer.number %></td>
					<td><%= buyer.name %></td>
					<td><%= link_to edit_auction_buyer_path(@auction, buyer.id) do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
					<td><%= link_to auction_buyer_path(@auction, buyer), method: :delete do %><span class="glyphicon glyphicon-trash"></span><% end %></td>
				</tr>
				<% end %>
			</tbody>
	</table>
</div>
<div><%= link_to 'Add a buyer', :new_auction_buyer, class: 'btn btn-default' %> <%= link_to 'Import Buyers', :import_auction_buyers %></div>
