<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li><%= link_to "Buyers", auction_buyers_path(@auction) %></li>
  <li class="active">Buyer (<%= @buyer.name %>)</li>
</ol>
<div class="page-header">
	<h1>Buyer Information</h1>
</div>
<div class="well">
  <h2>#<%= @buyer.number %> <small><%= @buyer.name %></small></h2>
</div>
<div>
<p class="button-group"><%= link_to 'Print Invoice', invoice_auction_buyer_path(auction_id: @auction.id, id: @buyer.id), class: 'btn btn-default' %></p>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Seller Number</th>
        <th>Seller Name</th>
        <th>Seller Type</th>
        <th class="table-number">Packer Bid</th>
        <th class="table-number">Buyer Bid</th>
        <th class="table-number">Buyer Count</th>
        <th class="table-number">Option</th>
        <th class="table-number">Buyer Pays</th>
      </tr>
    </thead>
    <tbody>
    <% total = BigDecimal.new('0') %> 
    <% @buyer.sellers.order(:seller_type_id, :order).each do |seller| %>
      <tr>
        <td><%= seller.number %></td>
        <td><%= seller.name %></td>
        <td><%= seller.seller_type.name.singularize %></td>
        <td class="table-number"><%= number_to_currency(seller.packerbid) %></td>
        <td class="table-number"><%= number_to_currency(seller.buyerbid) %></td>
        <td class="table-number"><%= seller.buyers.count %></td>
        <td class="table-number"><%= seller.option %></td>
        <td class="table-number"><%= number_to_currency(@buyer.pays_for_seller(seller)) %></td>
        <% total = total + @buyer.pays_for_seller(seller) %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="well total-well">
    <span class="total-label">Total:</span> <span class="total-value"><%= number_to_currency(total) %></span>
</div>
